/* tags padrões */
b {
    color:red;
    font-size: small;
    
}
h5 {
    color:rgb(111, 214, 9);
    font-weight: bolder;
}
header {
    position: sticky;
    top:0%;
    width: 100%;
    height: 87px;
    margin:0px;
    padding:0px;
    background-color: yellow;
}
body{
    margin:0px 0px 0px 0px;
    width: 100%;
    height: auto;
}
/* slides promotions */
.slide{
    margin:2px;
    padding: 40px 8px 40px 8px;
    width: 100%;
    height: 255px;
    background-color:blue;
}

/* content payment */
.container-pay {
    width: 854px;
    height: 90px;
    margin:6px;
    padding: 40px 8px 40px 8px;
    background-color: brown;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.box-pay {
    
    width: auto;
    height: auto;
    margin: 5px;
}
.box-pay-img {
    width: 25px;
    height: 25px;
}
/* content recomendations */
.recomendations{
    width: 100%;
    height: 2170px;
    background-color: aqua;
}
