<section class="container-pay">
    <div class="box-pay">
        <img class="box-pay-img"
            src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
        <p>Até 12 vezes</p>
        <a href="www.google.com.br">ver mais</a>
    </div>
    <div class="box-pay">
        <img class="box-pay-img"
            src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
        <p>Parcelado no boleto</p>
        <a href="www.google.com.br">ver mais</a>
    </div>
    <div class="box-pay">
        <img class="box-pay-img"
            src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
        <p>Via pix</p>
        <a href="www.google.com.br">ver mais</a>
    </div>
</section>