<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template Mercado Livre</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
        <header></header>
        <section class="slide">
            <img
                src="https://a-static.mlcdn.com.br/200x200/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
            <img
                src="https://a-static.mlcdn.com.br/200x200/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
            <img
                src="https://a-static.mlcdn.com.br/200x200/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
            <img
                src="https://a-static.mlcdn.com.br/200x200/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
        </section>
        <section class="container-pay">
            <div class="box-pay">
                <img class="box-pay-img"
                    src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
                <p>Até 12 vezes</p>
                <a href="www.google.com.br">ver mais</a>
            </div>
            <div class="box-pay">
                <img class="box-pay-img"
                    src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
                <p>Parcelado no boleto</p>
                <a href="www.google.com.br">ver mais</a>
            </div>
            <div class="box-pay">
                <img class="box-pay-img"
                    src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
                <p>Via pix</p>
                <a href="www.google.com.br">ver mais</a>
            </div>
        </section>
        <section class="recomendations">
            <p>Baseada na sua ultima visita <a href="home">Ver histórico</a>
            <div class="linhas">
                <div width="224px" height="378px">
                    <img width="50px" height="50px"
                        src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
                    <h3>R$ 799<b>89</b></h3>
                    <h4>10x R$ 73,04 sem juros</h4>
                    <h5>Frete grátis</h5>
                </div>
            </div>
        </section>
        <categoria></categoria>
        <ofertas></ofertas>
        <footer></footer>
    </body>

</html>