<section class="recomendations">
    <p>Baseada na sua ultima visita <a href="home">Ver histórico</a>
    <div class="linhas">
        <div width="224px" height="378px">
            <img width="50px" height="50px"
                src="https://images.vexels.com/media/users/3/157570/isolated/lists/4b39b362c76ea5a00de62f8ff839b5ed-icone-de-smartphone-simples.png">
            <h3>R$ 799<em>89</em></h3>
            <h4>10x R$ 73,04 sem juros</h4>
            <h5>Frete grátis</h5>
        </div>
    </div>
</section>