<section>
    <p>Baseada na sua ultima visita <a href="{{home}}">Ver histórico</a>
        <div class='linhas' width="auto" height="350px">
            {% for x in items['items'] %}
            <div class="container-items">
                <img width="150px" height="150px" src="{{x['imagem']}}">
                <h1>{{x['titulo']}}</h1>
                <h3>R$ {{"%.2f" | format(x['valor'])}}</h3>
                <h4>{{x['parcelamento']}}x R$ {{ "%.2f" | format( x['valor']/x['parcelamento'] ) }} sem juros</h4>
                <h5>Frete grátis</h5>
            </div>
            {% endfor %}
        </div>
</section>