<section class="slide">
    <img class="slide-img"
        src="https://a-static.mlcdn.com.br/75x75/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
    <img class="slide-img"
        src="https://a-static.mlcdn.com.br/75x75/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
    <img class="slide-img"
        src="https://a-static.mlcdn.com.br/75x75/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
    <img class="slide-img"
        src="https://a-static.mlcdn.com.br/75x75/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9590/ff74902ce3a20a995d8db9414114b89e.jpg">
</section>